body {
  font-family: "Cambria", Arial;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #215170;
  height: 80px;
  padding: 0 2%;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}


.bar {
  height: 4px;
  width: 35px;
  background-color: #fff;
  margin: 5px 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.sub-menu {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 80px;
  display: none;
  gap: 10px;
  border-bottom-right-radius: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}

.show-menu {
  display: block !important;
  position: absolute;
  left: 0;
  top: 80px;
}

.sub-menu a {
  font-size: 1.5em;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  color: #215170;
  display: block;
  padding: 10px;
  text-decoration: none;
}


.logo img {
  height: 60px;
}

.logo-words {
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  margin-right: 10px;
  margin-left: 160px;
  font-size: 3em;
  color: #fff;
  font-weight: bolder;
  font-family: Cambria;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  border: none;
  padding: 5px;
  margin-right: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.search-bar button {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

#slider {
  height: 0;
  overflow: hidden;
  position: relative;
  padding-top: 56.25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slider-img.active {
  opacity: 1;
}

.slide-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.slide-btn.left {
  left: 1rem;
}

.slide-btn.right {
  right: 1rem;
}

.contact {
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  top: 0;
  right: 0;
  width: 30%;
  padding: 10px;
  margin-right: 10px;
  position: absolute;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.contact h2 {
  font-size: x-large;
  font-family: Cambria;
  color: #215170;
  font-weight: bold;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin: 10px;
  margin-bottom: 35px;
}

.contact input {
  font-family: Arial;
  padding-left: 5px;
  height: 2rem;
  margin-top: -25px;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#messageContainer{
  color: #215170;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  display: none;
  margin-top: 90px;
  top: 0;
  right: 0;
  width: 30%;
  padding: 10px;
  margin-right: 10px;
  position: absolute;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}


#message {
  border: none;
  margin-top: -10px;
  margin-bottom: -15px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

textarea {
  height: 70px;
  padding: 5px;
  font-family: Arial;
}

.button {
  font-size: medium;
  font-weight: bold;
  font-family: Cambria;
  color: #fff;
  width: 100px;
  height: 30px;
  background-color: #215170;
  cursor: pointer;
  align-self: center;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.section-one {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  background-color: #215170;
  height: 30%;
  width: 25%;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.card img {
  margin-top: 20px;
  width: 100%;
}


.card h3 {
  font-family: Cambria;
  font-weight: bolder;
  font-size: xx-large;
  margin-bottom: 1%;
  margin-top: 13%;
}

.card p {
  padding: 25px;
  text-align: center;
  font-size: 1.1em;
  font-family: Arial;
  margin-top: -1%;
}

.section-two {
  color: #fff;
  background-color: #7098b2;
  margin-bottom: 3%;
}

.section-two img {
  width: 70%;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.3em;
  font-weight: 600;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
}

#imgHero {
  display: flex;
  align-items: center;
}

.hero h2 {
  font-size: 4em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-bottom: -10px;
  margin-top: 20px;
}

.hero button {
  height: 50px;
  width: 150px;
  margin: 30px;
  border-radius: 20px;
  font-size: 1em;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.section-three {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 250px);
  /* gap: 1px; */
}

.section-three img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  transition: filter 0.3s ease-in-out;
  -webkit-filter: brightness(0.5);
}

.section-three img:hover {
  filter: brightness(1);
}

.section-four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.section-four h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 4em;
  color: #215170;
}

.section-four h4 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2em;
  margin-top: auto;
  margin-bottom: auto;
}

.section-four p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

.content-split {
  max-width: 60%;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: ;
  color: #215170;
  font-size: 1em;
  flex: 1;
  border-right: 2px dotted #215170;
  height: 40vh;
  margin-bottom: 30px;
}

.responsive-footer{
  display: flex;
  flex-direction: column;
}

.contact-links:last-child {
  border-right: none;
}

.contact-links h6 {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.contact-links a {
  margin-bottom: 10px;
}

.contact-links img {
  height: 70px;
  width: 70px;
}

.bottom-border {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #215170;
  height: 40px;
}

.right-margin::after {
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  height: 80%;
  width: 70%;
}


/* styles for screens with a maximum width of 768px */
@media only screen and (max-width: 750px) {

  .logo img {
    height: 40px;
    margin-left: -1%;
  }

  .logo-words {
    margin-top: 16px;
    font-size: large;
  }



  .contact {
    position: relative;
    background-color: #7098b2;
    width: 90%;
    margin: 3% auto;
  }

  #messageContainer{
    position: relative;
    background-color: #7098b2;
    color: #fff;
    width: 90%;
    margin: 3% auto;
    text-align: center;
  }

  .section-one {
    flex-direction: column;
  }

  .card {
    width: 100%
  }

  .section-two {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #imgHero {
    flex-direction: column;
  }

  .section-two img {
    width: 100%;
  }

  .hero {
    width: 90%;
  }

  .section-three {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 20%);
    /* gap: 1px; */
    margin-bottom: -40%;
  }

  .section-four h2 {
    font-size: 2.5em
  }
  .section-four h4 {
    font-size: 1.5em;
    margin: 4%;
  }

  .section-four p {
    font-size: 1em;
    width: 90%;
  }

.footer{
  flex-direction: column;
}

.contact-links{
  border-right: none;
}


.contact-links:first-child {
  margin-top: 3%
}

.contact-links h6 {
  margin-top: 3%
}

.contact-links:last-child {
  margin-top: 1%;
}

}

@media only screen and (max-width: 900px) {

  .logo img {
    height: 40px;
    margin-left: -1%;
  }

  .logo-words {
    margin-top: 16px;
    font-size: large;
  }

  .search-bar {
    display: none;
  }

  .hamburger-menu {
    margin-right: 10px;
  }

  .bar {
    width: 25px;
  }

}

  @media only screen and (max-width: 1250px){


  #imgHero {
    flex-direction: column;
  }

  .section-two img {
    width: 100%;
  }
}


@media only screen and (max-width: 450px) {

  .logo img {
    display: block;
  }

  .logo-words {
    display: none;
  }
}